nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a006e;
  color: white;
  padding: 15px 30px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
